

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



#languages{
    background-color: black;
    color: aliceblue;
    padding-top: 20px;
}

.jumbotron{
    margin-bottom:0px !important;
    
}

.lead{
    font-size: 1.5em !important;
}

#home{
    padding-top: 20px;
    background-color: black;
}














