

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



#home{
    padding-top: 20px;
    background-color: black;
}

.jumbotron{
    margin-bottom:0px !important;
    
}


#languages{
    background-color: black;
    color: aliceblue;
    padding-top: 20px;
}
.lead{
    font-size: 1.5em !important;
}

#myName::after{
    content: ' - Full-Stack Application Developer';
    color: white;
    font-size: .9rem;
}














